.header-page {
  font-size: 50px;
  color: cyan;
  text-align: center;
}

.carousel {
  position: relative;

  width: 100%;

  object-fit: contain;
}

.carousel:hover {
  outline: solid rgb(0, 0, 0);
  opacity: 0.8;
}

.lien {
  position: absolute;
  top: 30px;
  left: 200px;
  font-size: 30px;
  color: white;
}

.lien:hover {
  font-size: 33px;
}

.body-page {
  color: white;
  margin: 10px;
  position: relative;
  padding: 0;
  span {
    color: cyan;
  }

  &.light-theme {
    color: black;
    background-color: white;
  }
}

.type-projet {
  color: cyan;
  font-size: 35px;
}

.box-paragraphe {
  font-size: 20px;
}

.list-outil {
  background-color: cyan;
  border-radius: 13px;
  color: black;
  width: 20%;
  height: 24px;
  text-align: center;
  list-style-type: none;
}

.body-text {
  display: flex;
  flex-direction: row-reverse;
}

.body-outils {
  width: 50%;
}

.body-info {
  width: 50%;
}

.image-logo {
  width: 56%;
  height: 334px;
  background-color: white;
  text-align: center;
  margin-left: 350px;

  .img-logo {
    position: relative;
    top: 110px;
  }
}

.btn-page {
  width: 20%;
  height: 50px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  margin: 50px 0px 0px 700px;
}

.titre-expo {
  color: cyan;
  padding-left: 800px;
}

.img-expo {
  width: 80%;
  height: 401px;
  padding-left: 170px;
  object-fit: cover;
}
//VERSION MOBIL

@media (max-width: 576px) {
  .header-page1 {
    left: 10px;
    width: 85%;
    bottom: 349px;
  }

  .img-lien {
    position: relative;
    bottom: 80px;
  }

  .body-page {
    color: white;
    margin: 10px;
    position: relative;
    bottom: 358px;
  }

  .body-text {
    position: relative;
    bottom: 50px;
  }
}
