.header {
  background-color: #171717;
  padding: 1px;
  height: 968px;

  &.light-theme {
    background-color: white;
    h1,
    h2 {
      color: black;
    }
    #header-text {
      span {
        color: #da1010;
      }
    }
  }
}

#header-text {
  // position: absolute;
  // top: 190px;
  // left: 1029px;
  // color: white;
  padding: 260px 0px 0px 165px;
  color: white;
  span {
    color: cyan;
  }
}

.text {
  // position: relative;
  // right: 80px;
  // top: 190px;
  // display: flex;
  // justify-content: center;
  // color: #ffffff;

  margin: 0;
  font-size: 60px;
}

.font-header {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 900px;
}

.display-body {
  display: flex;
  gap: 300px;
}

.logo-me {
  border-radius: 90px;
  height: 356px;
  position: relative;
  top: 190px;
}

//VERSION MOBIL

@media (max-width: 1000px) {
  .display-body {
    gap: 70px;
    flex-direction: column;
  }

  .logo-me {
    height: 351px;
    // width: 72%;
    top: 0;
    margin: auto;
  }
}

@media (max-width: 900px) {
  .display-body {
    gap: 70px;
    flex-direction: column;
  }

  .logo-me {
    height: 351px;
    // width: 75%;
    top: 0;
    margin: auto;
  }
}
@media (max-width: 768px) {
  #header-text {
    left: 220px;
    top: 100px;
  }

  .text {
    width: 70%;
    font-size: 50px;
  }

  .logo-me {
    display: none;
  }
}

@media (max-width: 760px) {
  #header-text {
    margin: auto;
    text-align: -webkit-center;
  }
}

@media (max-width: 576px) {
  #header-text {
    padding-left: 50px;
  }
}
