.header-page2 {
  height: 130px;
  position: relative;
  bottom: 371px;
  left: 50px;
  z-index: 1;
}

.carousel2 {
  position: relative;
  width: 100%;
  object-fit: contain;
}

.carousel2:hover {
  outline: solid rgb(255, 0, 0);
  opacity: 0.8;
}

.Paragraphe-about {
  margin: 0px;
}

.body-page1 {
  color: white;
  margin: 10px;
}

.body-text2 {
  border-left: solid 10px rgb(255, 0, 0);
  border-right: solid 10px rgb(255, 0, 0);
  margin: 50px 0px 0px 0px;
}

.zone-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

//VERSION MOBIL

@media (max-width: 576px) {
  .body-page {
    height: 35px;
  }
  .header-page2 {
    left: 10px;
    width: 85%;
    bottom: 345px;
  }

  .img-lien {
    position: relative;
    bottom: 80px;
  }

  .body-text2 {
    position: relative;
    bottom: 60px;
  }
}
