.header-page1 {
  font-size: 50px;
  position: relative;
  top: 15px;
  left: 38%;
}

.carousel {
  position: relative;
  top: 50px;
  width: 100%;
  object-fit: cover;
}

.type-projet {
  margin: 50px 0px 0px 0px;
}
