.header-page1 {
  font-size: 50px;
  position: relative;
  bottom: 420px;
  left: 100px;
  z-index: 1;
}

.carousel {
  position: relative;
  top: 40px;
  width: 100%;

  object-fit: contain;
}

.carousel:hover {
  outline: solid blue;
  opacity: 0.8;
}

.lien {
  position: absolute;
  top: 30px;
  left: 200px;
  font-size: 30px;
  color: white;
}

.lien:hover {
  font-size: 33px;
}

.Paragraphe-about {
  margin: 0px;
}

.body-page {
  color: white;
  margin: 10px;
  position: relative;
  bottom: 550px;
}

.body-text {
  border-left: solid 10px blue;
  border-right: solid 10px blue;
  margin: 50px 0px 0px 0px;
}

.zone-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

//VERSION MOBIL

@media (max-width: 576px) {
  .header-page1 {
    left: 10px;
    width: 85%;
    bottom: 349px;
  }

  .img-lien {
    position: relative;
    bottom: 80px;
  }

  .body-page {
    color: white;
    margin: 10px;
    position: relative;
    bottom: 358px;
  }

  .body-text {
    position: relative;
    bottom: 50px;
  }
}
