.Competence-Contenant {
  // padding: 1px;
  height: 757px;

  &.light-theme {
    background-color: white;
    h1 {
      color: black;
    }

    .competence {
      color: black;
    }
  }
}
#Body-competence {
  color: white;
}

.html-img {
  height: 120px;
}

.css-img {
  height: 120px;
}

.sass-img {
  height: 85px;
  padding: 10px;
}

.js-img {
  height: 120px;
  width: 13%;
  object-fit: cover;
}

.react-img {
  height: 90px;
}

.img-competence {
  width: 48%;
  margin-left: 750px;
}

.recharts-wrapper {
  left: 680px;
  top: 160px;
}

.competence {
  margin: 20px 20px 20px 260px;
  color: white;
}

.competence-item {
  margin-bottom: 10px;
}

.barre {
  background-color: #f0f0f0;
  border-radius: 5px;
  height: 20px;
}

.progression {
  height: 100%;
  border-radius: 5px;
  text-align: center;
  color: black;
}

.html {
  width: 90%;
  background-color: #e54c21;
}

.css {
  width: 85%;
  background-color: #214ce5;
}

.scss {
  width: 75%;
  background-color: #ce679a;
}

.js {
  width: 50%;
  background-color: #e4a125;
}

.react {
  width: 40%;
  background-color: #61dbfb;
}

//VERSION MOBIL

@media (max-width: 576px) {
  #img-competence {
    display: none;
  }

  .recharts-wrapper {
    left: auto;
    right: 8px;
    max-width: 100%;
  }
}
