.Competence-Contenant {
  padding: 1px;
  height: 900px;
}
#Body-competence {
  position: relative;
  left: 805px;
  top: 255px;
  color: white;
}

.html-img {
  position: relative;
  height: 150px;
  left: 260px;
}

.css-img {
  position: relative;
  height: 150px;
  top: 222px;
  left: 125px;
}

.sass-img {
  position: relative;
  height: 150px;
  top: 450px;
}

.js-img {
  position: relative;
  height: 150px;
  left: 1000px;
}

.react-img {
  position: relative;
  height: 150px;
  left: 780px;
  top: 376px;
}
