.Competence-Contenant {
  padding: 1px;
  height: 757px;
}
#Body-competence {
  position: relative;
  left: 805px;
  top: 255px;
  color: white;
}

.html-img {
  position: relative;
  height: 150px;
  left: 905px;
  bottom: 425px;
}

.css-img {
  position: relative;
  height: 150px;
  left: 1042px;
  bottom: 252px;
}

.sass-img {
  position: relative;
  height: 150px;
  top: 65px;
  left: 811px;
}

.js-img {
  position: relative;
  height: 150px;
  left: 217px;
  top: 40px;
}

.react-img {
  position: relative;
  height: 150px;
  bottom: 240px;
  right: 107px;
}

//VERSION MOBIL

@media (max-width: 576px) {
  #img-competence {
    display: none;
  }

  .recharts-wrapper {
    left: 0;
    right: 87px;
  }
}
