.About-Contenant {
  height: 1220px;
}

#div-text {
  position: relative;
  left: 500px;
  top: 255px;
  color: white;
  width: 75%;
}

.info-me {
  margin: 0px;
}

.ordi-background {
  height: 1200px;
  position: absolute;
  left: 150px;
}
.tel-background {
  display: none;
}

//VERSION MOBIL

@media (max-width: 576px) {
  .ordi-background {
    display: none;
  }

  .tel-background {
    display: block;
    position: relative;
    left: 110px;
    max-width: 100%;
  }

  #div-text {
    position: absolute;
    left: 50px;
    top: 1760px;
  }

  .About-Contenant {
    height: 1423px;
  }

  .block-phone {
    position: relative;
    right: 108px;
    top: 375px;
  }
}
