.About-Contenant {
  padding: 10px;
  height: 1133px;
}

#Body-text {
  position: relative;
  left: 500px;
  top: 255px;
  color: white;
  width: 75%;
}

.info-me {
  margin: 0px;
}

.ordi-background {
  width: 100%;
  height: 1162px;
  position: absolute;
  top: 960px;
}

.tel-background {
  display: none;
}

//VERSION MOBIL

@media (max-width: 576px) {
  .ordi-background {
    display: none;
  }

  .tel-background {
    display: block;
    height: 840px;
    position: relative;
    right: 218px;
    top: 575px;
  }

  #Body-text {
    left: 50px;
    top: 0;
  }
}
