.About-Contenant {
  padding: 10px;
  height: 1133px;
}

#Body-text {
  position: relative;
  left: 500px;
  top: 255px;
  color: white;
}

.info-me {
  margin: 0px;
}

.ordi-background {
  width: 100%;
  height: 1162px;
  position: absolute;
  top: 960px;
}
