.header-page2 {
  height: 130px;
  position: relative;
  bottom: 371px;
  left: 50px;
  z-index: 1;

  &.light-theme {
    background-color: white;
  }
}

.carousel2 {
  position: relative;
  width: 100%;
  object-fit: contain;
}

.Paragraphe-about {
  margin: 0px;
}

// .body-page {
//   color: white;
//   margin: 10px;
//   &.light-theme {
//     color: black;
//     background-color: white;
//   }
// }

.zone-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

//VERSION MOBIL

@media (max-width: 576px) {
  .body-page {
    height: 35px;
  }
  .header-page2 {
    left: 10px;
    width: 85%;
    bottom: 345px;
  }

  // .img-lien {
  //   position: relative;
  //   bottom: 80px;
  // }

  .body-text2 {
    position: relative;
    bottom: 60px;
  }
}
