.side-panel {
  position: fixed;

  background-color: #000000db;
  padding: 10px;
  height: 100%;
  width: 220px;
  z-index: 1;
}

.bouton-scroll {
  display: block;
  margin-bottom: 10px;
  padding: 8px 12px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
  top: 165px;
  text-align: center;
  text-decoration: none;
}

.bouton-scroll:hover {
  background-color: white;
  color: black;
}

.active {
  background-color: white;
  color: black;
}

.ul-contact {
  color: white;
  position: relative;
  top: 390px;
  right: 26px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
}

.display-mobil {
  display: block;
}

.btn-nav {
  display: none;
}

.modal-content {
  display: none;
}

.mail-info {
  font-size: 13px;
}

.deco-lien {
  text-decoration: none;
  color: white;
}

.deco-lien:hover {
  color: cyan;
}
.name {
  color: white;
  text-align: center;
}

//VERSION MOBIL

@media (max-width: 1000px) {
}

@media (max-width: 768px) {
  .side-panel {
    height: 138px;
    width: 100%;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: stretch;
  }

  .bouton-scroll {
    width: 10%;
  }

  .name {
    display: none;
  }

  .ul-contact {
    display: none;
  }

  .display-mobil {
    display: none;
  }

  .btn-nav {
    position: relative;
    top: 60px;

    height: 50px;
    width: 12%;
    background-color: cyan;
    border: none;
    display: block;
    border-radius: 20px;
  }

  .modal-content {
    display: block;
  }

  .modal-panel {
    width: 100%;
    height: 350px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8588235294);
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }

  .btn-mobil {
    display: flex;
    position: relative;
    top: 6px;
    left: 190px;
    background-color: white;
    width: 50%;
    height: 48px;
    text-decoration: none;
    justify-content: center;
    border-radius: 30px;
    color: black;
    align-items: center;
  }

  .close {
    position: relative;
    top: 17px;
    right: 388px;
    color: white;
    display: flex;
    font-size: 35px;
    z-index: 1;
  }

  .btn-theme {
    top: 78px;
    right: 75px;
  }
}

@media (max-width: 760px) {
  .btn-theme {
    right: 75px;
    left: initial;
  }
}

@media (max-width: 576px) {
  .side-panel {
    width: 95%;
  }

  .btn-theme {
    right: 75px;
  }

  .btn-nav {
    width: 12%;
  }

  .btn-mobil {
    left: 135px;
  }

  .close {
    right: 260px;
  }
}
