.side-panel {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  background-color: #000000db;
  padding: 10px;
  height: 100%;
  width: auto;
  z-index: 1;
}

.bouton-scroll {
  display: block;
  margin-bottom: 10px;
  padding: 8px 12px;
  background-color: black;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
  top: 165px;
  text-align: center;
  text-decoration: none;
}

.bouton-scroll:hover {
  background-color: white;
  color: black;
}

.active {
  background-color: white;
  color: black;
}

.ul-contact {
  color: white;
  position: relative;
  top: 390px;
  right: 26px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.display-mobil {
  display: block;
}

.btn-nav {
  display: none;
}

.modal-content {
  display: none;
}

.mail-info {
  font-size: 13px;
}
.name {
  color: white;
  text-align: center;
}

//VERSION MOBIL

@media (max-width: 576px) {
  .side-panel {
    height: 140px;
    width: 50%;
    top: 0;
    background-color: transparent;
  }

  .bouton-scroll {
    width: 10%;
  }

  .name {
    display: none;
  }

  .ul-contact {
    display: none;
  }

  .display-mobil {
    display: none;
  }

  .btn-nav {
    position: relative;
    top: 100px;
    height: 40px;
    width: 50%;
    background-color: #2a9821;
    border: none;
    display: block;
    border-radius: 15px;
  }

  .modal-content {
    display: block;
  }

  .modal-panel {
    width: 425px;
    height: 350px;
    position: absolute;
    background-color: #000000db;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .btn-mobil {
    display: flex;
    position: relative;
    top: 6px;
    left: 100px;
    background-color: white;
    width: 50%;
    height: 48px;
    text-decoration: none;
    justify-content: center;
    border-radius: 30px;
    color: black;
    align-items: center;
  }

  .close {
    position: relative;
    top: 62px;
    color: white;
    display: flex;
    font-size: 35px;
  }
}
