.header-page {
  font-size: 50px;
  color: cyan;
  text-align: center;
  margin: 0;
}

.carousel {
  position: relative;

  width: 100%;

  object-fit: contain;
}

.carousel:hover {
  outline: solid rgb(0, 0, 0);
  opacity: 0.8;
}

#lien {
  position: absolute;
  top: 15px;
  left: 200px;
  font-size: 30px;
  background-color: transparent;
  color: white;
}

#lien:hover {
  font-size: 33px;
  color: cyan;
}

body {
  background-color: #171717;

  &.light-theme {
    background-color: white;
  }
}

.btn-theme-page {
  position: absolute;
  top: 25px;
  right: 160px;
  color: white;
  border: none;
  font-size: 30px;
  z-index: 2;
  background-color: transparent;
  cursor: pointer;
}

.body-page {
  color: white;
  background-color: #171717;
  // margin: 10px;
  // position: relative;
  // padding: 0;
  span {
    color: cyan;
  }

  &.light-theme {
    color: black;
    background-color: white;

    span {
      color: #da1010;
    }

    .type-projet {
      color: #da1010;
    }

    .list-outil {
      background-color: #da1010;
    }

    .btn-page:hover {
      background-color: #da1010;
    }

    .lien:hover {
      color: #da1010;
    }

    .lien {
      color: black;
    }

    .header-page {
      color: #da1010;
    }

    .titre-expo {
      color: #da1010;
    }

    .btn-theme-page {
      color: black;
    }

    .info-projet-display {
      color: black;
    }

    #lien {
      color: black;
    }
    // body {
    //   background-color: white;
    // }
  }
}

.type-projet {
  color: cyan;
  font-size: 35px;
}

.box-paragraphe {
  font-size: 20px;
}

.list-outil {
  background-color: cyan;
  border-radius: 13px;
  color: black;
  width: 40%;
  height: 24px;
  text-align: center;
  list-style-type: none;
}

.body-text {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 60%;
  margin: auto;
}

.body-outils {
  width: 50%;
}

.body-info {
  width: 50%;
}

.image-logo {
  width: 56%;
  height: 334px;
  background-color: white;
  text-align: center;
  margin: auto;

  .img-logo {
    position: relative;
    top: 60px;
    width: 100%;
  }
}

.btn-page {
  width: 20%;
  height: 50px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  margin-top: 50px;
}

.img-lien {
  display: block;
  text-align: center;
}

.btn-page:hover {
  width: 21%;
  height: 51px;
  background-color: cyan;
}

.titre-expo {
  color: cyan;
  text-align: center;
}

.img-expo {
  width: 60%;
  height: 401px;
  object-fit: cover;
}

.block-page {
  text-align: center;
}

.info-projet-display {
  color: white;
  text-align: center;
}
//VERSION MOBIL

@media (max-width: 1000px) {
  #lien {
    left: 60px;
    top: 15px;
  }

  .info-projet-display {
    padding-left: 0;
    font-size: 23px;
  }

  .image-logo {
    // margin-left: 155px;
    width: 65%;
  }

  .btn-page {
    //   margin: 50px 0px 0px 350px;
  }

  .body-text {
    padding: 150px 0px;
  }

  .body-info {
    width: 50%;
  }

  .img-expo {
    width: 70%;
    // padding-left: 140px;
  }

  .list-outil {
    width: 53%;
  }

  // .btn-theme-page {
  //   top: 55px;
  // }
}

@media (max-width: 768px) {
  .header-page {
    z-index: 1;
    position: relative;
  }

  .body-page {
    color: white;
    // margin: 10px;
    position: relative;
    // bottom: 358px;
  }

  .body-text {
    flex-direction: column;
    // padding: 50px 163px;
    text-align: center;
  }

  .image-logo {
    width: 100%;
    // height: 253px;
    background-color: white;
    text-align: center;
    // margin: 275px 0px 0px 5px;
    z-index: 0;
  }

  #lien {
    z-index: 2;
    top: 20px;
    left: 70px;
    font-size: 40px;
  }

  .btn-page {
    // margin: 50px 0px 0px 300px;
  }

  .body-info {
    width: 100%;
  }

  .body-outils {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .list-outil {
      width: 100%;
    }
  }

  .img-expo {
    width: 100%;
    padding: 0;
  }

  .block-list {
    width: 25%;
    padding: 0;
  }

  .btn-theme-page {
    right: 100px;
    top: 25px;
  }
}

@media (max-width: 760px) {
  .btn-page {
    // margin: 50px 0px 0px 250px;
  }

  .info-projet-display {
    // padding-top: 500px;
    padding-left: 0;
    z-index: 0;
  }

  .header-page {
    z-index: 1;
    padding-top: 10px;
    position: relative;
    margin-top: 0;
  }

  // .image-logo {
  //   // margin: 70px 0px 0px 5px;
  // }
}

@media (max-width: 576px) {
  .info-projet-display {
    padding-left: 0;
  }

  #lien {
    left: 10px;
    font-size: 30px;
  }

  .header-page {
    font-size: 45px;
  }

  .image-logo {
    height: 285px;
  }

  // .img-lien {
  //   position: relative;
  //   bottom: 0;
  //   right: 160px;
  // }

  .btn-page {
    width: 35%;
    // margin: 50px 0px 0px 320px;
  }

  .body-text {
    padding: 34px 0px;
    // text-align: left;
  }
  .type-projet {
    text-align: center;
  }

  .list-outil {
    font-size: 14px;
    padding: 3px;
  }

  .img-expo {
    height: 258px;
  }

  .block-list {
    padding: 0;
    width: 40%;
  }

  .btn-theme-page {
    right: 30px;
  }
}

@media (max-width: 400px) {
  // .btn-page {
  //   margin: 50px 0px 0px 280px;
  // }

  .btn-theme-page {
    right: 5px;
  }
}
