.Projet-Contenant {
  padding: 10px;
  height: 1000px;
}

.Box-projet {
  .Projet {
    background-color: white;
    width: 210px;
    height: 210px;
    border-radius: 20px;
    position: absolute;
    bottom: 215px;
    z-index: 0;
  }

  // .Projet:hover {
  //   border: solid #34d62a;
  //   opacity: 0.5;
  // }

  .Text-projet {
    position: relative;
    top: 155px;
    left: 10px;
    color: black;
    font-weight: 900;
    font-size: 20px;
  }

  .img-banner {
    width: 205px;
    height: 210px;
    border-radius: 20px;
    object-fit: contain;
    position: relative;
    z-index: 1;
  }

  .img-banner:hover {
    border: solid 4px #34d62a;
    opacity: 0.5;
  }
}

.Box-projet2 {
  .img-banner2 {
    width: 205px;
    height: 202px;
    border-radius: 20px;
    object-fit: contain;
    position: relative;
    z-index: 1;
    left: 290px;
    bottom: 215px;
  }

  .img-banner2:hover {
    border: solid 4px #34d62a;
    opacity: 0.5;
  }
  .Projet2 {
    background-color: white;
    width: 210px;
    height: 210px;
    border-radius: 20px;
    position: absolute;
    bottom: 215px;
    left: 290px;
    z-index: 0;
  }

  .Text-projet2 {
    position: relative;
    top: 155px;
    left: 10px;
    color: black;
    font-weight: 900;
    font-size: 20px;
  }
}
