.Projet-Contenant {
  height: 757px;

  &.light-theme {
    background-color: white;
    .search {
      background-color: #b4b4b4;
    }

    .Block-page {
      border: solid 5px black;
    }
  }
}

.Block-page {
  width: 29%;
  height: 331px;
  object-fit: cover;
  margin-left: 250px;
  background-color: white;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 10px;
  z-index: 0;
}
.img-page {
  position: relative;
  top: 120px;
  left: 70px;
}

.Page-lien {
  margin-left: 250px;
  color: transparent;
  text-decoration: none;
}

//VERSION MOBIL

@media (max-width: 576px) {
  .Projet-Contenant {
    margin-left: 3px;
  }

  .fenetre-contenu {
    left: 50px;
    width: 80%;
    top: 270px;
  }

  .fenetre-buttons {
    width: 100%;
  }

  .logo {
    left: 123px;
    width: 50%;
  }
  .btn-search {
    width: 18%;
  }
}
