.Projet-Contenant {
  height: 950px;

  &.light-theme {
    background-color: white;
    .search {
      background-color: #b4b4b4;
    }

    .Block-page {
      border: solid 5px black;
    }

    .title-projet {
      color: #da1010;
    }

    .deco-title {
      color: #da1010;
    }
  }
}

.Projet-block {
  padding-left: 25px;
  display: flex;
  align-items: center;
  gap: 100px;
}

.Block-page {
  // width: 90%;
  height: 331px;
  object-fit: cover;
  background-color: white;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 10px;
  // margin: auto;
}
.img-page {
  position: relative;
  top: 120px;
  width: 100%;
  // left: 40px;
}

.Page-lien {
  color: transparent;
  text-decoration: none;
  width: 40%;
}

.title-projet {
  color: cyan;
  font-size: 50px;
  // padding-left: 30px;
  border-bottom: solid 1px;
  width: 60%;
  margin-left: 20px;
}

.info-projet {
  color: white;
  // padding-left: 30px;
  text-align: center;
}

//VERSION MOBIL

@media (max-width: 1000px) {
  .Projet-block {
    flex-direction: column;
  }

  // .Block-page {
  //   width: 85%;
  // }

  .title-projet {
    font-size: 34px;
  }

  .Page-lien {
    width: 50%;
  }
}

@media (max-width: 900px) {
  .Projet-block {
    flex-direction: column;
  }

  // .Block-page {
  //   width: 85%;
  // }

  .title-projet {
    font-size: 34px;
    width: fit-content;
    padding-right: 8px;
    margin-left: 20px;
  }

  .Page-lien {
    width: 60%;
  }
}
@media (max-width: 768px) {
  // .Projet-Contenant {
  //   margin-left: 3px;
  // }

  .fenetre-contenu {
    left: 50px;
    width: 80%;
    top: 270px;
  }

  .fenetre-buttons {
    width: 100%;
  }

  .logo {
    left: 123px;
    width: 50%;
  }
  .btn-search {
    width: 18%;
  }

  .Projet-block {
    flex-direction: column;
    padding-left: 0px;
    // align-items: center;
    text-align: center;
  }

  // .Block-page {
  //   // width: 75%;
  // }

  .title-projet {
    padding-left: 0px;
    text-align: center;
    width: fit-content;
    padding-right: 8px;
    // margin: auto;
    margin-left: 20px;
  }

  .deco-title {
    width: 53%;
  }

  .info-projet {
    padding-left: 0px;
    text-align: center;
  }
}

@media (max-width: 600px) {
  // .Block-page {
  //   width: 87%;
  // }

  .Page-lien {
    width: 70%;
  }
}

@media (max-width: 576px) {
  .title-projet {
    padding-left: 10px;
  }

  .deco-title {
    width: 73%;
  }

  .info-projet {
    padding-left: 10px;
  }

  // .Projet-block {
  //   padding-left: 20px;
  // }

  // .Block-page {
  //   width: 89%;
  // }

  // .img-page {
  //   // width: 100%;
  //   left: 0;
  // }
}
